.Icon {
    fill: var(--icon-color);
    color: var(--icon-color);

    &:hover {
        fill: var(--accent-color);
        color: var(--accent-color);
    }
}

.button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover .Icon {
    color: var(--accent-color);
}
