.ArticleDetailsPage {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.backBtn {
    align-self: flex-start;
}

.recommendationList {
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
}
