.app.light {
  --bg-color: #E8EDDF;
  --inverted-bg-color: #333533;

  --primary-color: #3A606E;
  --inverted-primary-color: #244F26 ;

  --secondary-color: #2292A4;
  --inverted-secondary-color: #256D1B;


}
