.Sidebar {
    background-color: var(--light-bg-color);
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height) - 32px);
    margin-left: 32px;
    transition: all 0.3s;
    position: relative;
    border-radius: 32px;
    padding: 20px 0;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    transition: all 0.9s;
}

.langSwitcher {
    margin-left: 10px;
}

.collapseBtn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    border-radius: 50%;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.icon {
    fill: var(--text-color);
}

.link {
    margin-left: 16px;
}

.item {
    padding-left: 16px;
    display: flex;
    align-items: center;

    &:hover {
        .icon {
            fill: var(--accent-color);
        }
    }
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
        align-items: center;
    }

    .langSwitcher {
        margin-left: 0;
    }

    .link {
        width: 0;
        opacity: 0;
    }
}
