.Text {
    color: var(--text-color);
}

.error {
    color: var(--danger-color);
}

.title {
    font: var(--font-l);
}

.text {
    font: var(--font-m);
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}
