.ProfileCard {
    background-color: var(--dark-bg-color);
    border-radius: 32px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.content {
    display: flex;
    gap: 24px;

    & .contentDiv {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;

        & .input {
            flex-grow: 1;
        }
    }
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
