@import "reset";
@import "./variables/globals";
@import "./themes/normal";
@import "./themes/dark";
@import "./themes/orange";

html,
body {
    height: 100vh;
    font: var(--font-m);
}

.app {
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
}

.content-page {
    padding-top: 32px;
    display: flex;
}

.page-wrapper {
    width: 100%;
    padding: 20px;
    height: calc(100vh - 82px);
    overflow-y: auto;
}

.circle {
    border-radius: 50%;
}
