.Navbar {
    width: 100%;
    background-color: var(--light-bg-color);
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    padding: 20px;
}

.links {
    margin-left: auto;

    a {
        margin-left: 15px;
    }
}
