.app.dark {
  --bg-color: #090949;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #6CAE75;
  --inverted-primary-color: #0267C1 ;

  --secondary-color: #C1CC99;
  --inverted-secondary-color: #6494AA;
}
