.app.dark {
    --bg-color: #090949;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #6cae75;
    --inverted-primary-color: #0267c1;
    --secondary-color: #c1cc99;
    --inverted-secondary-color: #6494aa;

    // loader
    --loader-bg-color: #c1cc99;
}
