.app.light {
    --bg-color: #e8eddf;
    --inverted-bg-color: #333533;
    --primary-color: #5093aa;
    --inverted-primary-color: #39c739;
    --secondary-color: #2292a4;
    --inverted-secondary-color: #256d1b;

    // loader
    --loader-bg-color: #2292a4;
}
