.app_orange_theme {
    // new design
    --dark-bg-color: #fff3d6;
    --bg-color: #f0c048;
    --light-bg-color: #f2d791;
    --text-color: #1b1311;
    --hint-color: #b8b2a2;
    --danger-color: #ff5e5e;
    --success-color: #52fa81;
    --icon-color: #4875f0;
    --accent-color: #1d59ff;
}
